server:
  port: 1000
spring:
  application:
    name: mi-eureka-server

eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    enable-self-preservation: true
    renewalPercentThreshold: 0 #设置更新率阈值
    eviction-interval-timer-in-ms: 20000 #毫秒 有关注册服务调用


